

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CJHY0YMQYZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CJHY0YMQYZ');
</script>



<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCR7WGS');</script>
<!-- End Google Tag Manager -->



<script>
function sendReadingTime(artikelnamn, lastid){
   gtag('event','last_artikel', {
   "artikelnamn": artikelnamn,
   "lastid": lastid,
   });
}
    document.addEventListener("DOMContentLoaded", () => {
       
        const readTentaArticle1 = document.getElementById("tenta-article-1");

        if(readTentaArticle1){

            readTentaArticle1.addEventListener("click", () =>{
                sendReadingTime("Tenta Article 1", 5)
            });

            document.getElementById("tenta-article-2").addEventListener("click", () => {
                sendReadingTime("Tenta Article 2", 10)
            });

            document.getElementById("tenta-article-3").addEventListener("click", () => {
                sendReadingTime("Tenta Article 3", 15)
            });

            document.getElementById("tenta-article-4").addEventListener("click", () => {
                sendReadingTime("Tenta Article 4", 20)
            }); 
        }
    });
  
 console.log("2023-02-25")

</script>


